.botao{
    height: 24px;
    vertical-align: top;
    margin: 0px;
    background-color: rgb(62, 123, 253); 
    border-radius: 5px;
    color: aliceblue;
    margin-left: 2px;
}

.input{
    height: 24px;
    vertical-align: top;
    margin-left: 2px;
    max-width: 80px;
    padding-left: 2px;
}
