.div-cabecalho{
    min-width: 120px;
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 2px;
}

.div-scroll {
    padding: 5px;
    overflow-x: scroll;
    
}

$colors: (
    primary: white,
    secondary: yellow
);


