<ion-header>
  <ion-toolbar>
    <ion-title>Biotério IDAF</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="login" name="login" type="text" placeholder="login" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="senha" name="senha" type="password" placeholder="senha" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-button [type]="submit" [disabled]="!form.valid">
            Entrar
        </ion-button>
        <ion-buttons slot="end">
          <ion-button [routerLink]="['/configuracoes']">
              <ion-icon name="settings"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </form>
  <img src="assets/icon/camundongo.svg" style="width: 100%"/>
</ion-content>
