<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar>
      <ion-chip color="primary">
          <ion-icon name="contact"></ion-icon>
          <div style="padding-top: 2px; padding-bottom: 2px; ">
            <div>
              <ion-label>{{usuario?.nome}}</ion-label>
            </div>
            <div>
              <ion-label color="medium"><p>{{usuario?.iss}}</p></ion-label> 
            </div>
          </div>
             
      </ion-chip>
        
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of links" (click)="irPara(item.url)" >
        <ion-icon [src]="item.icon"></ion-icon>
        <ion-label>{{item.titulo}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-button (click)="logout()">Sair</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>