.div-cabecalho{
    min-width: 120px;
    display: inline-block;
    padding-right: 10px;
    padding: 5px;
}

.div-scroll {
    padding: 5px;
    padding-left: 0px;
    overflow-x: scroll;
    
}
.div-numeracao-lateral {
    padding-top: 5px;
    margin-left: 5px;
    position: relative;
    float: left;
    width: 25px;
}
.numeracao-lateral{
    width: 25px;
    height: 20px; 
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    text-align: center;
}

.span-lateral {
    vertical-align: middle; 
    font-size: 8px;
}

$colors: (
    primary: white,
    secondary: yellow
);


