.botao{
    height: 24px;
    vertical-align: top;
    margin: 0px;
    background-color: rgb(62, 123, 253); 
    border-radius: 5px;
    color: aliceblue;
    margin-left: 2px;
}

.input{
    height: 24px;
    vertical-align: top;
    margin-left: 2px;
    max-width: 80px;
}

.campos{
    min-width: 80px;
    height: 24px;
    vertical-align: middle;
    margin-left: 5px;
    text-align: right;
    padding: 4px;
}

label{
    font-weight: bold;
   
}

.block{
    display: block;
    margin-bottom: 4px; 
}

.inline{    
    float: left;
}
$colors: (
    primary: white,
    secondary: yellow
);
$fab-list-button-background-color: color($colors, dark);
