<ion-header>
  <ion-toolbar>
      <div>
          <input type="number" class="input" placeholder="número de registro"/>
          <input type="number" class="input" placeholder="ano"/>
          <button class="botao">
              <ion-icon name="search"></ion-icon>
          </button>
        </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class=block>
    <div class="block">
      <label class="inline">Nº Reg.: </label>
      <span class="campos inline">  </span>
    </div>
    <div class="block">
      <label class="inline">Data Inoculação: </label>
      <ion-input class="campos inline" type="date" pattern="dd/MM/yyyy"></ion-input>
    </div>
    <div class="block">
      <label class="inline">Nº inoculados:</label>
      <ion-input class="campos inline" ></ion-input>
    </div>
  </div>
</ion-content>
