<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>          
    </ion-buttons>
    <ion-title>Observação Infectório</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-item>
  <ion-label>Data</ion-label>
  <ion-input #data type="date"></ion-input>
  <ion-button (click)="listarSeisDias(data.value)">
      <ion-icon name="search"></ion-icon>
  </ion-button>
</ion-item>

<ion-card>
  <ion-card-header>
    <ion-card-title>Eutanásias Seis Dias ({{listaSeisDias?.length}})</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="caixas" *ngFor="let item1 of listaSeisDias" (click)="carregarObservacao(item1)">{{ item1?.principal?.registro }} </div>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Eutanásias Finalização ({{listaFinalizacoes?.length}})</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-label class="caixas" *ngFor="let item2 of listaFinalizacoes" (click)="carregarObservacao(item2)">{{ item2?.principal?.registro }} </ion-label>
  </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-header>
      <ion-card-title>Em Observação ({{listaNaoFinalizada?.length}})</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label class="caixas" *ngFor="let item3 of listaNaoFinalizada" (click)="carregarObservacao(item3)">{{ item3?.principal?.registro }} </ion-label>
    </ion-card-content>
</ion-card>
  
</ion-content>
