<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>          
    </ion-buttons>
    <ion-title>Observação Infectório</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-item>
  <ion-label>Data</ion-label>
  <ion-input #data type="date" [(ngModel)]="dataPesquisa"></ion-input>
  <ion-button (click)="listarSeisDias()">
      <ion-icon name="refresh"></ion-icon>
  </ion-button>
</ion-item>

<ion-card>
  <ion-card-header>
    <ion-item>
        <ion-card-title style="margin-right: 5px">Eutanásias Seis Dias</ion-card-title>
        <ion-badge mode="ios" color="secondary" class="badges">{{listaSeisDias?.length}}</ion-badge>
    </ion-item>    
  </ion-card-header>
  <ion-card-content>
    <div class="caixas" *ngFor="let item1 of listaSeisDias" (click)="carregarInoculacaoPorId(item1[0])">{{ item1[1] }} </div>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-item>
        <ion-card-title style="margin-right: 5px">Eutanásias Finalização</ion-card-title>
        <ion-badge mode="ios" color="secondary" class="badges">{{listaFinalizacoes?.length}}</ion-badge>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-label class="caixas" *ngFor="let item2 of listaFinalizacoes" (click)="carregarInoculacaoPorId(item2[0])">{{ item2[1] }} </ion-label>
  </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-header>
      <ion-item>
          <ion-card-title style="margin-right: 5px">Em Observação</ion-card-title>
          <ion-badge mode="ios" color="secondary" class="badges">{{listaNaoFinalizada?.length}}</ion-badge>
      </ion-item>      
    </ion-card-header>
    <ion-card-content>
      <ion-label class="caixas" *ngFor="let item3 of listaNaoFinalizada" (click)="carregarInoculacaoPorId(item3[0])">{{ item3[1] }} </ion-label>
    </ion-card-content>
</ion-card>
  
</ion-content>
