.caixas {
    float: left;
    height: 35px;
    width: 60px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    color: black;
}